.header__menu--block {
		display: none;
	}

	.toggle-menu {
		display: block;
		width: 100%;
		margin: 10px 5px;
	}

	.header__nav {
		@include flexbox(flex-row);
		justify-content: flex-end;
		width: 100%;
	}

.label-toggle {
      background: linear-gradient(to bottom, #222 0%, #222 20%, transparent 20%, transparent 40%, #222 40%, #222 60%, transparent 60%, transparent 80%, #222 80%, #222 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }

.hidden {
      @include flexbox(flex-col-center);
      height: 0;
      opacity: 0;
      /*text-align: center;*/
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
	}

.hidden-flex {
	width: 100%;
}

.hidden ul {
	list-style: none;
}

.toggle-menu__list li {
	padding: 10px;
}

.toggle-menu__list i {
	padding-right: 10px;
}

.hidden a {
	text-decoration: none;
	color: #9d9d9d;
	font-size: 30px;
}

#menu-toggle:checked ~ .hidden {
  opacity: 1;
  height: 100vh;
  visibility: visible;
}

.toggle-menu__flex-center {
	@include flexbox(flex-col-center);
	width: 100%;
}

/* ----------------------------------------------- */
/* 					Slider					   */
/* ----------------------------------------------- */

	.slider {
		&__desktop {
			display: none;
		}

		&__mobile {
			display: block;
			
		}

		&__article {
			@include flexbox(flex-row-center);
			width: 75%;
			height: auto;
		}

		&__text {
			width: 60%;
			padding-left: 20px;
		}

		&__icon-font {
			display: flex;
			align-items: center;

			i {
				font-size: 125px;
			}
		}

		&--animation {
			@include flexbox(flex-row-center-center);
			height: 100%; /* Height of images */
  			position: relative;
  			overflow: hidden;
		}
	}

	.slider--animation .slider__article {
		max-width: 100%;
		position: absolute;
		opacity: 0;
		-webkit-animation: slider--animation-fade 30s linear infinite;
		-moz-animation: slider--animation-fade 30s linear infinite;
		-ms-animation: slider--animation-fade 30s linear infinite;
		animation: slider--animation-fade 30s linear infinite;
	}

	.slider--animation .slider__article:nth-child(2) {
		  -webkit-animation-delay: 10s;
		  -moz-animation-delay: 10s;
		  -ms-animation-delay: 10s;
		  animation-delay: 10s;
	}
	.slider--animation .slider__article:nth-child(3) {
		  -webkit-animation-delay: 20s;
		  -moz-animation-delay: 20s;
		  -ms-animation-delay: 20s;
		  animation-delay: 20s;
	}

	@-webkit-keyframes slider--animation-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@-moz-keyframes slider--animation-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@-ms-keyframes slider--animation-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@keyframes slider--animation-fade {
  0%, 20%, 100% { opacity: 0; }
  5%, 15% { opacity: 1;}
}