.header__text {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.header__text--title span {
		font-size: 120px;
	}

	.header__text {
		margin-left: 0;
	}

	.header__text--text {
		display: none;
	}

/* ----------------------------------------------- */
/* 					footer.php;					   */
/* ----------------------------------------------- */

	.footer__nav--responsive-list {
		display: flex;
		flex-direction: column;
	}

	.footer__nav--responsive-list li {
		padding: 10px 0;
	}

	.footer__nav--responsive-list a {
		font-size: 40px;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
	}

	.footer__nav--responsive-icon {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	}

	.footer__nav--responsive-icon i {
		font-size: 60px;
		padding: 0 3px;
	}

	.footer__logo {
	    align-items: flex-start;
	    display: flex;
	    justify-content: center;
	    margin: 50px 0 30px 0;
	    height: auto;
	}