/* ----------------------------------------------- */
/* 					post					   */
/* ----------------------------------------------- */
	.post {
		@include flexbox(flex-col);
		align-items: center;
		margin-top: 120px;
		margin-bottom: 120px;

		&__article {
			@include flexbox(flex-col);
			width: 100%;
			color: $content-color;
			margin: 20px 0;
		}

		&-category {
			@include flexbox(flex-col);
			align-items: center;
			margin: 30px 0;
		}

		&-category-img {
			width: 80%;
			margin-right: 0;
		}

		&-category-text {
			@include flexbox(flex-col-center);
			width: 80%;
			margin: 0 20px;
			text-align: center;
			font: $font-regular;
		}
	}

/* ----------------------------------------------- */
/* 					POST.PHP 					   */
/* ----------------------------------------------- */

.blog-post {
	&__article {
		width: 85%;
	}
}

/* ----------------------------------------------- */
/* 					Login					   */
/* ----------------------------------------------- */


.login {
	&__form {
		position: relative;
		height: auto;
	}
}