/* ----------------------------------------------- */
/* 					post					   */
/* ----------------------------------------------- */
	.post {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 120px;
		margin-bottom: 120px;

		&__article {
			display: flex;
			flex-direction: column;
			width: 100%;
			color: #676767;
			margin: 20px 0;
		}

		&-category {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 30px 0;
		}

		&-category-img {
			width: 80%;
			margin-right: 0;
		}

		&-category-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 80%;
			margin: 0 20px;
			text-align: center;
			font-family: $font-regular;
		}
	}

	/* Slider */

	.slider {
		&-deskop {
			visibility: hidden;
		}

		&-tablet {
			visibility: visible;
		}
	}