@font-face {
    font-family: 'VolvoBroad';
    src: url(../fonts/VolvoBroad.ttf);
}

$font-regular: 300 18px/1.5 'Lato', sans-serif;
$font-regular--small: 300 16px/1.5 'Lato', sans-serif;
$font-thin: 100 18px/1.5 'Lato', sans-serif;
$font-bold: 400 24px/1.5 'Lato', sans-serif;