aside {
	display: none;
}

main {
	width: 100%;
}

.hidden-mobile {
	display: none;
}

.nav__right {
		display: none;
	}

	.nav__left {
		display: none;
	}

	.content_container {
	@include flexbox(flex-row);
	}

	.aside__nav {
	@include flexbox(flex-col);
	align-items: center;
	width: 100%;
}

.toggle-menu__bar {
	width: 100%;
}

.toggle-menu {
	@include flexbox(flex-row);
	justify-content: space-between;
}

.label-toggle {
      background: linear-gradient(to bottom, #9d9d9d 0%, #9d9d9d 20%, transparent 20%, transparent 40%, #9d9d9d 40%, #9d9d9d 60%, transparent 60%, transparent 80%, #9d9d9d 80%, #9d9d9d 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      width: 35px;
      margin: 0 15px;
    }

.hidden {
      @include flexbox(flex-col-center);
      height: 0;
      opacity: 0;
      /*text-align: center;*/
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
	}

.hidden-flex {
	width: 100%;
}

.hidden ul {
	list-style: none;
}

.toggle-menu__list li {
	padding: 10px;
}

.toggle-menu__list i {
	padding-right: 10px;
}

.hidden a {
	text-decoration: none;
	color: #9d9d9d;
	font-size: 30px;
}

#menu-toggle:checked ~ .hidden {
  opacity: 1;
  height: 100vh;
  visibility: visible;
}


